page-shopping-cart {

    .container{
        min-width: 200px !important;
        max-width: 350px !important;
    }

    .badge{
        background-color: #e3bd21 !important;
    }


    .social-icons{ width: 25px !important; height: 25px !important;}
    .footer-tab{ bottom: 0 !important;}
    .margin-left-right{ margin-left: 25% !important; margin-right: 25% !important;}
    .input-box{ background: #fff !important; border-radius: 2px !important; color: #3f3e3e !important; min-width: 200px !important; max-width: 300px !important;}
    .title-footer{ padding: 0px !important; font-weight: 800 !important; font-size: 20px !important;}
}
