page-dashboard {
    .toolbar-title{ font-weight: 800 !important;}
    .segment-md .segment-button { font-size:100% !important; color:#3f3e3e !important; text-transform: capitalize !important;}
    .segment-md .segment-button.segment-activated { opacity: 1; border-color: #e3bd21 !important; border-bottom: 4px solid;}
    .search-bar{ width: 70% !important; margin-left: 20% !important;  }
    .list-md{ margin: 0px !important}
    .responsive-contact-text{ width: 55% !important; }
    .center-align{ left: 50% !important; margin-left: 12% !important; margin-right: 12% !important;}
    .contact-us-background{ margin-top: 50px !important;border: 1px #e4be22 solid; border-radius: 5px; padding: 10px !important; margin: 10% !important; color: #3f3e3e !important;}
    .toolbar-title-md{ padding: 0px !important;}
    .margin-left-right{ margin-left: 25% !important; margin-right: 25% !important;}
    .input-box{ background: #fff !important; border-radius: 2px !important; color: #3f3e3e !important; min-width: 200px !important; max-width: 300px !important;}
    .social-icons{ width: 25px !important; height: 25px !important;}
    .footer-tab{ bottom: 0 !important;}
}