// App Global Sass

@import '../theme/fonts';

/* Typography starts */ 
.font-poirot{ font-family: 'Paperdocks Font';}
.fw-600{ font-weight: 600 !important;}
.fw-700{ font-weight: 700 !important;}
.fw-800{ font-weight: 800 !important;}
.fw-900{ font-weight: 900 !important;}
.captalize{ text-transform: capitalize !important;}
.text-justify{ text-align: justify !important;   text-justify: inter-word !important;}
.text-center{ text-align: center !important;}
.font-12 { font-size:  12px !important;}
.font-18 { font-size: 18px !important;}
.font-30 { font-size: 30px !important;}
/* Typography ends */ 


/*color*/
.text-primary{color:#e3bd21 !important}
.text-info{color:#3f3e3e !important}
.text-grey{color:#aeaeae !important}
.text-peach{color:#f9f0cd !important}
.text-white{color:#fff !important}
.text-black{color:#000 !important}
.text-danger{ color: #ff3434 !important;}


.back-primary{background:#e3bd21 !important}
.back-primary-light{background:#ffeb9c !important}
.back-info{background:#3f3e3e !important}
.back-grey{background:#aeaeae !important}
.back-peach{background:#f9f0cd !important}
.back-white{background:#fff !important}
.back-black{background:#000 !important}
/*color*/




/*margin*/
.mt-10{margin-top: 10px !important}
.mt-20{margin-top: 20px !important}
.mt-30{margin-top: 30px !important}
.mt-40{margin-top: 40px !important}
.mt-50{margin-top: 50px !important}
.mt-60{margin-top: 60px !important}
.mt-70{margin-top: 70px !important}


.m-10{ margin: 10px !important}
.m-20{ margin: 20px !important}
.m-30{ margin: 30px !important}
.m-40{ margin: 40px !important}
.m-50{ margin: 50px !important}

.mb-0{ margin-bottom: 0px !important;}
.mt-0{ margin-top: 0px !important;}
.ml-0{ margin-left: 0px !important;}
.mr-0{ margin-right: 0px !important;}

.nomargin{ margin: 0px !important}


/*Percentages*/ 
.mlp-5{ margin-left : 5% !important}

/*margin*/



/*padding*/
.nopadding{ padding: 0px !important}
.pd-10{ padding: 10px !important}
.pd-20{ padding: 20px !important}
.pd-30{ padding: 30px !important}
.pd-40{ padding: 40px !important}

.pt-10{ padding-top: 10px !important}
.pt-20{ padding-top: 20px !important}
/*padding*/





/* Image Container*/
.image-container {
    min-width: 320px !important;
    max-width:350px !important;
    background-size: cover;
}
